In [20]:
import pandas as pd

filename = "befkbhalderstatkode.csv"

df = pd.read_csv(filename)
df.head(10)

    AAR  BYDEL  ALDER  STATKODE  PERSONER
0  2015      1      0      5100       614
1  2015      1      0      5104         2
2  2015      1      0      5106         1
3  2015      1      0      5110         1
4  2015      1      0      5120         4
5  2015      1      0      5126         1
6  2015      1      0      5130         5
7  2015      1      0      5140         3
8  2015      1      0      5150         5
9  2015      1      0      5154         1

In [31]:
d1 = df.iloc[2][3]  # [Col][Row]
d2 = df["STATKODE"][2]

print(d1)
print(d2)

5106
5106